bcrypt==4.2.0
blinker==1.8.2
click==8.1.7
coverage==7.6.1
exceptiongroup==1.2.2
Flask==2.3.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
greenlet==3.1.0
importlib_metadata==8.5.0
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.2
MarkupSafe==2.1.5
packaging==24.1
pluggy==1.5.0
pytest==8.3.3
pytest-cov==5.0.0
python-dotenv==1.0.1
SQLAlchemy==2.0.34
tomli==2.0.1
typing_extensions==4.12.2
Werkzeug==2.3.3
WTForms==3.1.1
zipp==3.20.1
python-dotenv